@charset "UTF-8";

body {
	margin: 0;
}

html, body, #main {
	/* this make the address bar always appears, and whole page is still revealed.*/
	height: 100%;
}

#main {
	/*height: 100vh;*//* replaced by above */
	width: 100vw;
	display: flex;
	flex-direction: column;
}

#upperDiv, #lowerDiv {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#upperDiv {
	height: 40%;
}
#lowerDiv, #keyboard{
	flex: 1;
}

#lengthPad, #auxPad, #displayer, #keyboard, #keyboardSetting{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: 5px;
}
#lengthPad, #displayer {
	max-width: 35%;
	flex-wrap: nowrap;
	align-content: stretch;
}
#keyboard {
	overflow: hidden;
	margin: 0;
	background: lightgray;
}

#keyboardSetting{
	width: 30px;
}
#keyboardUseFlat {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 6px;
}
#keyboardUseFlat[data-using="0"] {
	background-image: url(Sharp.svg);
}
#keyboardUseFlat[data-using="1"]{
	background-image: url(Flat.svg);
}
#auxPad{
	flex: 1;
	align-content: center;
	align-items: center;
}

#connectNote, #restNote {
	flex-direction: column;
	justify-content: center;
	padding: 3px;
}
#connectNote img{
	display: none;
}
#connectNote::before {
	content: "Mode";
	color: #555;
	font-size: 0.6em;
}
#connectNote::after {
	/*content: "錯誤";
	color: darkred;*/
}
#connectNote[data-mode="add"]::after, #connectNote::after {
	content: "新增";
}
#connectNote[data-mode="cont"]::after {
	content: "延長";
}
#connectNote[data-mode="tie"]::after {
	content: "連結";
}
#connectNote[data-mode="add"]::after, #connectNote[data-mode="cont"]::after, #connectNote[data-mode="tie"]::after {
	color: black;
}

#restNote::after {
	content: "休止符";
	font-size: 0.6em;
}

/* message boxes and screens*/

#noteEditPanel {
	flex-direction: column;
	padding: 3px;
}

#ABCNote {
	flex: 1;
	font-family: monospace;
	overflow-x: hidden;
}

#noteEditButtons {
	display: flex;
	justify-content: space-around;	
}
/* measure setting and time setting */

#measureSetting, #tonalitySetting {
	flex-direction: row;
	align-items: stretch;
	text-align: center;
}

.setting-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	box-sizing: border-box;
	flex-grow: 1;
	max-width: fit-content;
	min-width: 50px;
	max-width: 60px;
}

.setting-block.no-limit {
	max-width: fit-content;
}

.label-margin-bottom {
	margin-bottom: 5px;
}

.time-signature-symbol, #timeSignatureLabel {
	background: lightgray;
	border: outset 1px;
}

.time-signature-symbol, .upbeat-setting-value {
	display: none;
	/*background: #eee;*/
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	height: 1.4em;
	font-weight: bolder;
}

.button-half-height {
	box-sizing: border-box;
	height: 25px !important;
	border: outset 1px;
}

#timeSignatureBlock[data-type="common"] #commonTime,
#timeSignatureBlock[data-type="half"] #halfCommonTime, 
#timeSignatureBlock[data-type="number"] [data-value] {
	display: flex;
}

.time-signature-symbol img {
	width: 0.6em;
}

.time-signature-symbol[data-value]::after, #upbeatLength::after{
	content: attr(data-value);
}

#ABCNoteUnitButton[data-value], #upbeatUnitNote {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#ABCNoteUnitButton[data-value="1"]  { background-image: url("Music-wholenote.svg");}
#ABCNoteUnitButton[data-value="2"]  { background-image: url("Music-halfnote.svg");}
#ABCNoteUnitButton[data-value="4"],
   #upbeatUnitNote[data-value="4"]  { background-image: url("Music-quarternote.svg");}
#ABCNoteUnitButton[data-value="8"],
   #upbeatUnitNote[data-value="8"]  { background-image: url("Music-eighthnote.svg");}
#ABCNoteUnitButton[data-value="16"],
   #upbeatUnitNote[data-value="16"] { background-image: url("Music-sixteenthnote.svg");}

.small-font-label {
	font-size: 0.7em;
	line-height: 1em;
	max-height: 26px;
	display: flex;
	align-items: center;
	border: solid 1px;
}

/* measure setting and time setting: End */
#majorMinorLabel.button, #timeSignatureLabel, #ABCNoteUnitLabel {
	height: auto;
}
#majorMinorLabel::after {
	content: attr(data-value);
}
#tonalityName.button {
	font-size: 1.5em;
	font-weight: bold;
}

#tonalityBlock {
	flex-direction: column-reverse;
}

#selectTonalityByKeyboard {
	background: center / contain url(keyboard_icon.svg);
}

#selectTonalityByAccidentals {
	background: center / contain url(acc.svg);
}

/* \266D is the flat mark in unicode */
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="0"]::after  { content: "C";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="1"]::after  { content: "D\266D";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="2"]::after  { content: "D";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="3"]::after  { content: "E\266D";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="4"]::after  { content: "E";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="5"]::after  { content: "F";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="6"]::after  { content: "G\266D";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="7"]::after  { content: "G";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="8"]::after  { content: "A\266D";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="9"]::after  { content: "A";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="10"]::after { content: "B\266D";}
#majorMinorLabel[data-value="major"] + #tonalityName[data-value="11"]::after { content: "B";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="0"]::after  { content: "A";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="1"]::after  { content: "B\266D";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="2"]::after  { content: "B";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="3"]::after  { content: "C";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="4"]::after  { content: "C♯";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="5"]::after  { content: "D";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="6"]::after  { content: "E\266D";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="7"]::after  { content: "E";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="8"]::after  { content: "F";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="9"]::after  { content: "F♯";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="10"]::after { content: "G";}
#majorMinorLabel[data-value="minor"] + #tonalityName[data-value="11"]::after { content: "G♯";}


.button {
	border: outset 1px;
	background: lightgray;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
}

.button img {
	max-height: 50%;
	max-width: 50%;
}

.small-button {
	width: 24px;
	height: 24px;
}

.length-pad-row {
	flex: 10;
	
	width: 100%;
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;*/
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(50%, 1fr));
}

.length-button {
	/*width: 20%;
	max-width: 40%;*/
	min-width: 35px;
	width: initial;	
	height: initial;
	font-weight: bolder;
}
.length-button::before, .length-button.div3::after {
	font-size: 50%;
	font-weight: normal;
	color: gray;
	position: relative;
}
.length-button::before {
	content: "1/";
	top: -1em;
}
.length-button.div3::after {
	/*content: "x3";*/
	top: 0.5em;
}

#lengthPad[data-mode="select"] .length-pad-row {
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

#lengthPad[data-mode="select"] .length-button[data-select="false"] {
	opacity: 0.5;
}

#lengthPad:not([data-mode="select"]) .length-button[data-select="false"] {
	display: none;
}

#lengthPad[data-mode="select"] #selectLength {
	border: inset 1px;
	background: gray;
}

.length-pad-aux {
	flex: 1;
	order: -1;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
}

.length-pad-aux *{
	height: auto;
	width: fit-content;
	font-size: 0.5em;
	/*writing-mode: vertical-lr;*/
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	text-align: center;
}

.keyboard-key {
	position: absolute;
	box-sizing: border-box;
	border: 0px solid black;
	border-width: 1px;
	background: white;
	color: black;
	z-index : 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.keyboard-key:not(.black-key) {
	border-width: 1px 1px 1px 0;
}

.keyboard-key.black-key:first-child + .keyboard-key:not(.black-key),
.keyboard-key:not(.black-key):first-child {
	border-width: 1px;
}

.keyboard-key:after, .key-name  {
	content: attr(data-pitchname);
	margin-bottom: 1em;
	font-size: 0.7em;
}

.black-key {
	background: black;
	color: white;
	z-index: 1;
}

.key-name {
	display: none;
}

/*.keyboard-key:active, .button:hover, *//* disable this because it has longer delay */
.keyboard-key.pressed, .button.pressed {
	background: gray;
}

/* Tabs Of Message*/



.tab-set {
	
	display: flex; 
	flex-direction: row;
	align-items: stretch;
	
	position: relative;   
	/*min-height: 200px; /* This part sucks */
	clear: both;
	margin: 25px 0;
}
.tab {
	float: left;
}

.tab-label-row {
	flex-basis: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tab-label {
	width: initial;
	border: solid white 1px;
	background: #eee;
}

.tab-label[data-select="true"] {
	background: white;
	border-style: solid;
	border-color: black;
	border-right: none;
	position: relative;
	left: 1px;
}

.tab-content-box  {
	flex: 1;
}

.tab-content {
	display: none;
	height: 100%;
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	overflow: hidden;
}

.tab-content[data-select="true"] {
	display: flex;
}

/* Tabs Of Message: End */

.message-div {
	background: white;
	color: black;
}

.message-screen {
	border: 1px inset;
	overflow: auto;
	overflow-wrap: normal;
}

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.can-select {
	-moz-user-select: initial;
	-webkit-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
.cylon_eye {
  background-color: red;
  animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes blink { 0% { opacity:1; } 50% { opacity:1; } 100% { opacity:0; } }
        @keyframes blink { 0% { opacity:1; } 50% { opacity:1; } 100% { opacity:0; } }

.edit-cursor{
	display: inline-block;
	width: 0;
}

.edit-cursor * {
	border-left: red solid 1px;
	-webkit-animation: 0.5s step-start 0s infinite alternate blink;
	        animation: 0.5s step-start 0s infinite alternate blink;
}
.edit-cursor *::after {
	content: "."; /* a dummy */
	visibility: hidden;
}

.note span {
	display: inline-block;
}

.note::after {
	/*content: " ";*/
}

#editorMoreButtonTarget .popup-content {
	right: 12px;
	top: calc(40% - 5px);
	display: flex;
	min-width: fit-content;
	max-width: 30vw;
	border: black 1px solid;
	background: white;
}
#editorMoreButtonTarget .popup-content div:not(:first-child) {
	margin-left: 5px;
}

.debug-mark {
	outline: 5px dashed black;
	outline-offset: -5px;
}

.hide {
	display: none;
}

.button.icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95%;
}

.rest-note-icon {
	background-image
}

.copy-icon {
	background-image: url(copy.svg);
}

.new-file-icon {
	background-image: url(new-file.svg);
}

.backspace-icon {
	background-image: url(delete-512.png);
}

.end-icon {
	/* https://icons8.com */
	background-image: url(skip_to_start-24.png);
}

.ellipsis-icon {
	background-image: url(ellipsis.svg);
}

.go-icon {
	background-image: url(play-24.png);
}

.icon-x-flip {
	transform:scaleX(-1);
}

.icon-y-flip {
	transform:scaleY(-1);
}

.button.icon-x-flip {
	border-left: inset;
	border-right: inset;
	border-width: 1px;
}

.button.icon-y-flip {
	border-top: inset;
	border-bottom: inset;
	border-width: 1px;
}

.tonality-kb-sel {
    display: flex;
    align-items: flex-end;
}

.tonality-ksign-sel {
    display: flex;
	padding: 0.5em;
}

.button.small-button.kb-sel {
    background: white;
}

.button.small-button.kb-sel[data-black="true"] {
    background: black;
    color: white;
    margin-bottom: 24px;
}

.button.small-button.kb-sel::after {
    content: attr(data-name);
    font-size: 14px;
}

.key-sign, .ksign-sel {
    background-repeat: no-repeat;
}

.key-sign[data-acc="sharp"], .ksign-sel[data-acc="sharp"] {
    background-size: auto 50%;
    background-position-x: 0%, 16%, 32%, 48%, 64%, 80%, 96%;
    background-position-y: 16%, 64%, 0%, 48%, 96%, 32%, 80%;
}

.key-sign[data-acc="flat"], .ksign-sel[data-acc="flat"] {
    background-size: auto 38%;
    background-position-x: 0%, 16%, 32%, 48%, 64%, 80%, 96%;
    background-position-y: 56%, 14%, 70%, 28%, 84%, 42%, 98%;
}

.button.small-button.ksign-sel[data-acc="sharp"]::after {content: "♯" attr(data-num);}
.button.small-button.ksign-sel[data-acc="flat"]::after {content: "♭" attr(data-num);}

/* THIS CAN BE A GENERAL FRAMEWORK, LIKE J-QUERY */
.flex {
	display: flex;
	justify-content: center;
	align-items: center;;
}
.flex.to-right { flex-direction: row; }
.flex.to-left { flex-direction: row-reverse; }
.flex.to-up { flex-direction: column-reverse; }
.flex.to-down { flex-direction: column; }

.anchor {
    position: relative;
}

.hover-set {
    display: none;
}

.hover-sense:hover .hover-set {
    display: flex;
}

.popup-set {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.popup-window, .popup-widge {
    width: 320px;
    height: 240px;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 0.7em;
    background: #eee;
    box-shadow: 1px 1px 0.5em #777;
    padding: 0.7em;
}

.popup-window.fix-size {
	flex-shrink: 0;
}

.popup-widge {
	padding: 0;
	height: auto;
    border-radius: 0;
}

.popup-anchor {
    position: absolute;
    display: flex;
    overflow: visible;
    height: 0;
    width: 0;
    justify-content: center;
    align-items: center;
}

.popup-anchor.align-top, .popup-anchor.align-up { align-items: flex-start; }
.popup-anchor.align-bottom, .popup-anchor.align-down { align-items: flex-end; }
.popup-anchor.align-left { justify-content: flex-start; }
.popup-anchor.align-right { justify-content: flex-end; }

